<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HomePage</title>

    <link href="css/profilepage.css" rel="stylesheet" />       
</head>
<body>
    <header>
        <section>
            <div class="modal-backdrop">
                <div class="inputbox">
                    <label><strong>Rollno: </strong></label>
                    <input type="text" name="Rollno" id="Rollno" placeholder="Please enter Rollno" required />
                </div>
                <div class="button">
                    <button type="button" id="btn" onload="Show_Data()" ><strong>Submit</strong></button>

                </div>
                <div class="fake">
                    <label><strong asp for ></strong></label>
                </div>
            </div>
        </section>
    </header>
    <script type="text/javascript" src="js/profilepage.js"></script>
</body>
</html>
